<h3>Welcome to Epicodus lunch!</h3>
<div>
  <div>
  <div class="">
    <p>Time for lunch!  Let's go on a culinary adventure.  First, let's answer some questions:</p>
  </div>
    <label>Your Name:</label>
    <br>
    <input #newName>
  </div>

  <br>

  <div>
    
    <select #newLunch>
      <option> Did you bring lunch </option>
      <option value="yes"> yes </option>
      <option value="no"> no </option>
    </select>

    <br>
  </div>

  <br>

  <div>
    <label>What's your favorite color?</label>
    <br>
    <input #newColor>
  </div>
  <br>
  <button (click)="submitForm(newName.value, newLunch.value, newColor.value);">Let's Eat!</button>
</div>
